body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #7A7A7A;
    max-width: 70rem;
    min-width: 30rem;
}

div#page {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #dd3333;
    /*float: left;*/
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: left;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 0px;
}

div#header #navigation ul {
  padding: 0;
  margin: 0;
}

div#header #navigation a {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 0px;
  color: #6A6A6A;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

div#header #navigation a:hover {
  background-color: #DADADA;
  color: #000;
}

div#header #navigation a.active {
  background-color: #DADADA;
}

div#header #navigation a:active {
  color: #000;
  background-color: #DADADA;
}

div.date {
  float: right;
}

h2.post-list-title {
  margin-bottom: 0;
}

div#content a.archive {
  font-size: 56px;
  font-weight: bold;
}

div#content a.archive.newer {
  float: right;
}

div#content {
  padding-right: 30px;
  margin-right: 30%;
}

div#content a {
  text-decoration: none;
  color: #aa0000;
}

div#content a:hover {
  color: #dd3333;
}

div#sidebar a {
  text-decoration: none;
  color: #aa0000;
}

div#sidebar a:hover {
  color: #dd3333;
}

div#sidebar {
  float: right;
  max-width: 30%;
  min-width: 0;
  overflow: hidden;
}

div#sidebar2 a {
  text-decoration: none;
  color: #aa0000;
}

div#sidebar2 a:hover {
  color: #dd3333;
}

div#sidebar2 {
  display: none;
}

div#sidebar h1 {
  text-transform: uppercase;
  font-size: medium;
  color: #ADADAD
}

@media (max-width:40rem){
  div#sidebar {
    display: none;
  }
  div#sidebar2 {
    display: block;
  }
  div#content {
    clear: both;
    margin-right: 0;
    padding-left: 0;
  }
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    width: 100%;
    clear: both;
}

h1 {
    font-size: 24px;
    color: #aa0000;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

pre {
  background-color: #EEE;
  border: solid 1px;
  overflow-x: auto;
}

code {
  background-color: #EEE;
  border: solid 1px #DDD;
}

pre code {
  border:none;
  background-color: inherit;
}


.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }

.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }
