<div class="row" id="pagination">
  <div class="col-xs-3">
    $if(nextPageUrl)$
    <a href="$nextPageUrl$" class="archive older">
      <button type="button" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Раньше
      </button>
    </a>
    $endif$
  </div>
  <div class="col-xs-6 pagenum">
    $if(firstPageNum)$
    Страница $currentPageNum$ из $if(lastPageNum)$$lastPageNum$$else$$currentPageNum$$endif$
    $endif$
  </div>
  <div class="col-xs-3">
    $if(previousPageUrl)$
    <a href="$previousPageUrl$" class="archive newer">
      <button type="button" class="btn btn-default btn-block">
        Позже
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
    </a>
    $endif$
  </div>
</div>
